.heading {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-color: var(--tertiaryColor);
  padding: var(--contentGap);
  border-radius: var(--borderRadius);
}

.headingInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--contentGap);
  width: 100%;
}

.headingButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--contentGap);
}
.headingButtons > button {
  font-size: 20px;
  padding: 10px var(--contentGap);
  width: 100%;
}

.logo {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  border-radius: var(--borderRadius);
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--primaryColor);
  margin: 0;
}

/* Info Card */

.info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: flex-start;
  gap: var(--contentGap);
  padding: var(--contentGap) 0;
}

.infoCard {
  border-radius: var(--borderRadius);
  margin-bottom: var(--contentGap);
  background-color: var(--tertiaryColor);
}
.infoCard > div:not(:first-child) {
  padding: 10px;
}
.infoCard > p {
  color: var(--quaternaryColor);
}

.infoCardHeader > h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--contentGap);
  margin: 0;
  background-color: var(--tertiaryColor);
  color: var(--primaryColor);
}
.infoCardHeader > h5 > a {
  font-size: 14px;
  color: var(--secondaryColor);
  text-decoration: none;
}
.infoCardHeader > h5 > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--contentGap);
  color: var(--primaryColor);
  text-decoration: none;
}
.link:hover {
  color: var(--secondaryColor);
  text-decoration: underline;
}
.link > img {
  width: 50px;
  border-radius: var(--borderRadius);
}
.link > p {
  margin: 0;
}

/*  Links Container */

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* Tags */

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* Updates */

.updatesContainer p {
  color: var(--primaryColor);
  margin: 0;
}

.updateTitle {
  position: relative;
  background-color: var(--tertiaryColor);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 5px var(--contentGap);
}

.update {
  background-color: var(--tertiaryColor);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
.update > div {
  padding: var(--contentGap);
}
.update:not(:first-child) {
  margin-top: var(--contentGap);
}

.updateVersion {
  color: var(--quaternaryColor);
  font-size: 18px;
  margin-left: 5px;
}

/* Reviews */

.reviewsContainer {
  padding: var(--contentGap) 0;
}

.reviewsContainer > h2 {
  color: var(--primaryColor);
}

/* Content Nav */

.contentNav {
  margin-bottom: var(--contentGap);
}

/* Inputs */

.editImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.editImageContainer > button {
  font-size: 14px;
}

.titleInput {
  font-size: 32px;
  margin-bottom: 5px;
}

.summaryInput {
  height: 100px;
}
