.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  width: 100%;
  gap: var(--contentGap);
}

.pfpAndUsernameContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pfpAndUsernameContainer > img {
  width: 75px;
  height: 75px;
  border-radius: var(--borderRadius);
}

.userInfoContainer {
  color: var(--primaryColor);
  padding: 20px;
  border-radius: var(--borderRadius);
  background-color: var(--tertiaryColor);
}
.userInfoContainer:not(:last-of-type) {
  margin-bottom: var(--contentGap);
}
.userInfoContainer > p {
  margin: 0;
}

.stats {
  padding: var(--contentGap) 0;
  margin: var(--contentGap) 0;
  border-top: 1px solid var(--tertiaryColor);
  border-bottom: 1px solid var(--tertiaryColor);
}
.stats > p:not(:last-of-type) {
  margin-bottom: 10px;
}

.pluginsContainer > h3 {
  color: var(--primaryColor);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: var(--borderRadius);
  background-color: var(--tertiaryColor);
}

.contentNav {
  margin-bottom: var(--contentGap);
}
