.form {
  width: 500px;
  border-radius: var(--borderRadius);
  background-color: var(--tertiaryColor);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--contentGap);
  background-color: var(--septenaryColor);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

.xButton {
  color: var(--quaternaryColor);
  transition: color 0.1s ease;
}
.xButton:hover {
  cursor: pointer;
  color: var(--primaryColor);
}

.form h2 {
  color: var(--primaryColor);
  font-weight: bold;
  margin: 0;
}

.formContent {
  padding: var(--contentGap);
}

.formContent > div {
  margin-bottom: var(--contentGap);
}

.formContent input,
.formContent textarea,
.formContent label {
  display: block;
  width: 100%;
}

.form input[type="text"],
.form input[type="number"],
.form textarea {
  padding: 5px 15px;
  color: var(--primaryColor);
  background-color: var(--septenaryColor);
  caret-color: var(--primaryColor);
  border: none;
  border-radius: var(--borderRadius);
}

.form textarea {
  height: 100px;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form textarea:focus {
  outline: 2px solid var(--secondaryColor);
}

.form label {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: bold;
}
.form label {
  margin-bottom: 10px;
}

.form p {
  color: var(--quaternaryColor);
  margin-top: -5px;
  margin-bottom: 5px;
}

.url {
  display: flex;
  padding: 5px 15px;
  background-color: var(--septenaryColor);
  border-radius: var(--borderRadius);
}

.urlInput {
  padding: 0 !important;
  outline: none !important;
  border: none !important;
}
.urlInput:focus {
  outline: none;
  border: none !important;
}

.nameInput {
  width: 60% !important;
}

.buttons {
  display: flex;
  gap: var(--contentGap);
}

/*   */

.versions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.versions input {
  width: fit-content;
  margin-right: 5px;
}

.versions > div > * {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.versions span {
  color: var(--primaryColor);
  margin-left: 5px;
}

/*   */

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/*   */

.link > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--contentGap);
}
.link input[type="text"]:first-of-type {
  width: 30%;
}
.link input[type="text"]:last-of-type {
  /* width: 100%; */
}
.link > label {
  margin-bottom: 0;
}
.link:not(:first-of-type) {
  margin-top: var(--contentGap);
}
.link:last-of-type {
  margin-bottom: var(--contentGap);
}

.addLinkButton {
  width: 33% !important;
}
.deleteLinkButton {
  padding: 5px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: var(--dangerColor);
}

/*   */

.descriptionModes {
  margin-bottom: var(--contentGap);
}

/*   */

.priceContainer > p {
  display: flex;
  align-items: center;
  padding-left: var(--contentGap);
  color: var(--secondaryColor);
  border-radius: var(--borderRadius);
  background-color: var(--septenaryColor);
}

/*   */

.submitButton {
  width: 100%;
}

/*   */

.required {
  color: var(--dangerColor);
  font-weight: normal;
  margin-left: 3px;
}

.typeOptions {
  display: inline-block;
}
.typeOptions > span {
  margin-right: 5px;
}
