.show {
  right: 0 !important;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--contentGap);
  bottom: 0;
  right: -125%;
  margin: 0 var(--contentGap) var(--contentGap) 0;
  padding: 5px;
  color: var(--primaryColor);
  width: 250px;
  border-radius: var(--borderRadius);
  box-shadow: -1px 1px 5px var(--quaternaryColor);
  background-color: var(--successColor);
  transition: right 0.2s ease;
  z-index: 10001;
}
.container p {
  margin: 0;
}

.content {
  width: 80%;
  margin-bottom: 3px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -3px;
}

.title {
  font-weight: bold;
}

.message {
  font-size: 14px;
}

.iconContainer {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
  background-color: var(--primaryColor);
}
.icon {
  margin: 0 auto;
}

.closeButton {
  cursor: pointer;
}

.progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  background-color: var(--primaryColor);
}
