.input {
  padding: 5px 15px;
  width: 100%;
  color: var(--primaryColor);
  background-color: var(--septenaryColor);
  caret-color: var(--primaryColor);
  border: none;
  outline: none;
  border-radius: var(--borderRadius);
}
.outline:focus {
  outline: 2px solid var(--secondaryColor);
}
