.contents {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    padding: 5px;
    color: var(--primaryColor);
    background-color: var(--tertiaryColor);
    border-radius: var(--borderRadius);
    font-size: 14px;
}