.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: var(--primaryColor);
  background-color: var(--tertiaryColor);
  border-radius: var(--borderRadius);
  font-size: 14px;
}
.contents:hover {
  background-color: var(--quaternaryColor);
  cursor: pointer;
}
.contents:hover svg {
  color: var(--primaryColor);
}

.contents svg {
  color: var(--secondaryColor);
  margin-right: 5px;
}

.selected {
  color: var(--tertiaryColor);
  background-color: var(--secondaryColor);
  border-radius: var(--borderRadius);
}
.selected svg {
  color: var(--primaryColor);
}
